*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.navigation {
display: flex;
justify-content: space-between;
height: 90px;
background-color: rgb(59, 20, 28);
align-items: center;
color: white;
padding: 0 20px;
position: fixed;
width: 100%;
top: 0;
border: 2px solid rgb(242, 150, 29);
}
.navigation h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
}
.navigation div ul  {
    display: flex;
    list-style: none;
    text-align: center;
    align-items: center;
    gap: 35px;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navigation div ul li {
    padding: 10px 15px;
    border-radius: 25px;
    display: flex;
    font-size: 20px;
    align-items:center ;
 &:hover {
    background-color: rgb(242, 150, 29);
    color: rgb(59, 20, 28);
 }
}
.hero-section {
    height: calc(100vh - 90px);
    background-color: rgb(59, 20, 28);
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    padding: 0 20px;
    
}
.coffe-h1{
    color:rgb(242, 150, 29) ;
    font-family: Miniver;
    font-size: 50px;
}
.hero-section h1,
.hero-section p {
    margin: 30px 0;
}
.description{
    padding-top: 40px;
}
.subtitle{
    color: white;
    font-family: Roboto;
    font-size: 40px;
}
.hero-section img {
    height: 570px;
}
.hero-section p{
    color: white;
    font-family: Roboto;
    font-size: 23px;
}
.btn{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}
.btn button {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 40px;
}
.btn-1 {
    background-color: rgb(242, 150, 29);
    color: rgb(59, 20, 28);

    &:hover{
        background-color: rgb(59, 20, 28);
        color: rgb(242, 150, 29);
    }
}
.btn-2{
    background-color: rgb(59, 20, 28);
    color: white;
    border: 2.5px solid white;
    &:hover{
        background-color: rgb(242, 150, 29);
        color: rgb(59, 20, 28);
        border:none
    }
}
.about {
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.about img {
    border-radius: 50%;
    width: 450px;
    height: 450px;
}
.about-text {
    justify-content: center;
    text-align: center;
}
.about-text h1 {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
.about-text p {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 0;
}
.menu {
    height: 170vh;
    background-color: rgb(38, 38, 38);
    padding: 70px 0;
}
.menu h1 {
    color: white;
    text-align: center;
    font-family: Roboto;
    font-size: 37px;
    font-weight: 800;
}
.menu-pic {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.menu-pic img {
    width: 270px;
    height: 270px;
    margin-top: 60px;
}
.each-menu {
    color: white;
    display: grid;
    justify-items: center;
    align-self: center;
    text-align: center;
    /* border: 1px solid white; */
    width: 300px;
    height: auto;

}
.each-menu h2
 {
    font-family: Roboto;
    font-size: 30px;
    margin: 45px 0 20px 0;
}
.each-menu p{
     font-family: Roboto;
    font-size: 20px;
}
.gallery {
    background-color: whitesmoke;
    padding-top: 150px;
    height: 150vh;
}
.gallery h1{
    text-align: center;
    font-family: Roboto;
    font-size: 38px;
    margin-bottom: 150px;
}
.gallery-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
     align-items: center;
    justify-items: center;
    gap: 23px;
    margin: 0 30px;
}
.gallery-pics img {
    width: 420px;
    height: 250px;
    margin: 0 0 20px 0;
    border-radius: 20px;
    /* transition: 0.3 ease-in-out; */
    cursor: zoom-in;
    &:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
   
}
